@import "../../node_modules/tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: rgba(0, 0, 0, 0.8);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border-color: rgba(255, 255, 255, 0.8);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
}
